### 17 Mar Assignment

Q1: What are missing values in a dataset? Why is it essential to handle missing values? Name some
algorithms that are not affected by missing values.

ans:

Missing data, or missing values, occur when you don't have data stored for certain variables or participants. Data can go missing due to incomplete data entry, equipment malfunctions, lost files, and many other reasons.

It is important to handle the missing values appropriately.

    Many machine learning algorithms fail if the dataset contains missing values. However, algorithms like K-nearest and Naive Bayes support data with missing values.
    You may end up building a biased machine learning model, leading to incorrect results if the missing values are not handled properly.
    Missing data can lead to a lack of precision in the statistical analysis.

 k-NN and Random Forest algorithms

Q2: List down techniques used to handle missing data. Give an example of each with python code.

ans:

Mean value Imputation

Median Value Imputation

Mode Value Imputation

In [3]:

import seaborn as sns

In [5]:
df = sns.load_dataset('titanic')

In [6]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [9]:
df['age'].isnull().value_counts()

False    714
True     177
Name: age, dtype: int64

In [19]:
#Mean Value Imputation
df['age_mean'] = df['age'].fillna(df['age'].mean())

In [21]:
#Median Value Imputation
df['age_median'] = df['age'].fillna(df['age'].median())

In [31]:
#Mode Value Imputation
mode1 = df['age'].mode()[0]
mode1
df['age_mode'] = df['age'].fillna(mode1)

In [32]:
df[['age','age_mean','age_median', 'age_mode']]

      age   age_mean  age_median  age_mode
0    22.0  22.000000        22.0      22.0
1    38.0  38.000000        38.0      38.0
2    26.0  26.000000        26.0      26.0
3    35.0  35.000000        35.0      35.0
4    35.0  35.000000        35.0      35.0
..    ...        ...         ...       ...
886  27.0  27.000000        27.0      27.0
887  19.0  19.000000        19.0      19.0
888   NaN  29.699118        28.0      24.0
889  26.0  26.000000        26.0      26.0
890  32.0  32.000000        32.0      32.0

[891 rows x 4 columns]

In [33]:
#row 888 has some value

Q3: Explain the imbalanced data. What will happen if imbalanced data is not handled?

ans:
    Imbalanced Data
    in this type of datasets target set has uneven distribution of observation
    
    Model will be biased and behave incorrectly

Q4: What are Up-sampling and Down-sampling? Explain with an example when up-sampling and downsampling
are required.

ans: 
    
    Upsampling: we can increase the count of minority class as same as count of majority class
    Downsampling : we can decrease the count of majority class as same as minority class
    
up and down sampling is used to get rid of the extra and unnecessary efforts of:

    oversampling
    reduced order filters
    lower sampling rate
    realizable filters
    faster and easier calculations
    interpolating the data
    discard useless things
    pack-unpack => zip/unzip
    
example : 
    to create a compress file(zip) we need downsampling
    to expand a zip file we need upsampling

Q5: What is data Augmentation? Explain SMOTE.

ans:
    
    Augmentation : 
        Data augmentation is a set of techniques to artificially increase the amount of data by generating new data points from existing data.
        
    SMOTE:
        SMOTE is a technique to oversample the minority class .
        SMOTE applies K nearest Neighbour algorithm to select random nearest neighbour on Minority class instances.

Q6: What are outliers in a dataset? Why is it essential to handle outliers?

ans:
    
    Outliers:
        Outliers are those data points that are significantly different from the rest of the dataset. They are often abnormal observations that skew the data distribution, and arise due to inconsistent data entry, or erroneous observations
        
    necessity of Handling Outliers:
        As outliers are very different values—abnormally low or abnormally high—their presence can often skew the results of statistical analyses on the dataset. This could lead to less effective and less useful models.

Q7: You are working on a project that requires analyzing customer data. However, you notice that some of
the data is missing. What are some techniques you can use to handle the missing data in your analysis?

ans: 
    we can use several imputation technique
    
        mean value imputation
        median value imputation
        mode value imputation
        
    otherwise we can delete the line items (rows) containing missing data

Q8: You are working with a large dataset and find that a small percentage of the data is missing. What are
some strategies you can use to determine if the missing data is missing at random or if there is a pattern
to the missing data?

ans: 
    
    1. find out the the rows which contain missing values
    2. try to group those missing values with any column
    3. if there is a direct relationship with any columns with our missing data - we can say that missing at random
    4. otherwise no pattern found

Q9: Suppose you are working on a medical diagnosis project and find that the majority of patients in the
dataset do not have the condition of interest, while a small percentage do. What are some strategies you
can use to evaluate the performance of your machine learning model on this imbalanced dataset?

ans: 
    I will follow the Downsampling approach and take those small percentage of patients which has condition of interest.

Q10: When attempting to estimate customer satisfaction for a project, you discover that the dataset is
unbalanced, with the bulk of customers reporting being satisfied. What methods can you employ to
balance the dataset and down-sample the majority class?

ans: 
    
    SMOTE

Q11: You discover that the dataset is unbalanced with a low percentage of occurrences while working on a
project that requires you to estimate the occurrence of a rare event. What methods can you employ to
balance the dataset and up-sample the minority class?

In [ ]:
ans: 
    we can use SMOTE
    also any Interpolation technique works here