### 21 Mar Assignment - Encoding & Covariance

Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you
might choose one over the other.

ans: 
    
    Ordinal Encoding : 
        We have a option to maintain labels based on priorty
        
    Nominal Encoding:
        this technique assign random labels.

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({'size' : ["Medium", "Large", "Small", "Medium", "Large", "Small", "Medium", "Large", "Small"]})

In [4]:
#Label Encoding
from sklearn.preprocessing import LabelEncoder

In [5]:
l_encoder =  LabelEncoder()

In [8]:
data_l = l_encoder.fit_transform(df[['size']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [9]:
df['Label_map'] = data_l
df

     size  Label_map
0  Medium          1
1   Large          0
2   Small          2
3  Medium          1
4   Large          0
5   Small          2
6  Medium          1
7   Large          0
8   Small          2

In [16]:
#ordinal Encoding
from sklearn.preprocessing import OrdinalEncoder
o_encoder = OrdinalEncoder(categories=[["Small", "Large", "Medium" ]])
data_o = o_encoder.fit_transform(df[['size']])

In [17]:
df['ordinal_label'] = data_o
df

     size  Label_map  ordinal_label
0  Medium          1            2.0
1   Large          0            1.0
2   Small          2            0.0
3  Medium          1            2.0
4   Large          0            1.0
5   Small          2            0.0
6  Medium          1            2.0
7   Large          0            1.0
8   Small          2            0.0

Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in
a machine learning project.

ans: 

    In this method we calculate the mean of each categorical variable based on the out and rank them.
    
Example :

In [18]:
import pandas as pd
df_2 = pd.DataFrame({'city' : ['NY', 'London', 'Paris','Tokyo', 'NY', 'London', 'Paris','Tokyo', 'NY', 'London', 'Paris','Tokyo'],
              'price' : [200, 300, 400, 500, 300, 223, 322,443, 443,111,456,234]})

In [19]:
mean_price = df_2.groupby('city')['price'].mean()

In [21]:
df_2['city_mean_price'] = df_2['city'].map(mean_price)

In [22]:
df_2

      city  price  city_mean_price
0       NY    200       314.333333
1   London    300       211.333333
2    Paris    400       392.666667
3    Tokyo    500       392.333333
4       NY    300       314.333333
5   London    223       211.333333
6    Paris    322       392.666667
7    Tokyo    443       392.333333
8       NY    443       314.333333
9   London    111       211.333333
10   Paris    456       392.666667
11   Tokyo    234       392.333333

Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?

ans: 
    
    Covariance : 
        
        Covariance is a measure of the relationship between two random variables and to what extent, they change together. Or we can say, in other words, it defines the changes between the two variables, such that change in one variable is equal to change in another variable.
 
    Covariance and variance both are the terms used in statistics. Variance is the measure of spread of data around its mean value but covariance measures the relation between two random variables.
        
        formula
        
        (data point of x - mean of x)*(data point of y - mean of y)/no of data point - 1

Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium,
large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library.
Show your code and explain the output.

In [48]:
import pandas as pd
df_4 = pd.DataFrame({'color' : ['red', 'green', 'blue'],
                     'Size' : ['small', 'medium', 'large'],
                     'Material' : ['wood', 'metal', 'plastic']})
df_4.head()

   color    Size Material
0    red   small     wood
1  green  medium    metal
2   blue   large  plastic

In [49]:
from sklearn.preprocessing import LabelEncoder
encoder4 = LabelEncoder()
data_color = encoder4.fit_transform(df_4['color'])
data_size = encoder4.fit_transform(df_4['Size'])
data_material = encoder4.fit_transform(df_4['Material'])
df_4['color_n'] = pd.DataFrame(data_color)
df_4['size_n'] = pd.DataFrame(data_size)
df_4['material_n'] = pd.DataFrame(data_material)

In [51]:
df_4

   color    Size Material  color_n  size_n  material_n
0    red   small     wood        2       2           2
1  green  medium    metal        1       1           0
2   blue   large  plastic        0       0           1

Q5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education
level. Interpret the results.

In [52]:
import pandas as pd
df_5 = pd.DataFrame({'Age' : [20, 25, 30],
                     'Income' : [20000, 40000, 80000],
                     'Education Level' : ['B_tech', 'M_tech', 'phd']})

In [53]:
df_5

   Age  Income Education Level
0   20   20000          B_tech
1   25   40000          M_tech
2   30   80000             phd

In [54]:
df_5.cov()

/tmp/ipykernel_1645/518817197.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_5.cov()

             Age        Income
Age         25.0  1.500000e+05
Income  150000.0  9.333333e+08

Q6. You are working on a machine learning project with a dataset containing several categorical
variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD),
and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for
each variable, and why?

ans: 
    
    Gender : Nominal Encoding - as it has only 2 values
    Education level : Ordinal Encoding - as it should contain some priorty
    Employement Status : Ordinal Encoding/Label Encoding - depends on the data point

Q7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two
categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/
East/West). Calculate the covariance between each pair of variables and interpret the results.

In [57]:
import pandas as pd
df_7 = pd.DataFrame({"Temparature" : [75, 68, 80, 72, 83],
                       "Humidity" : [60, 70, 55, 75, 50],
                       "Weather Condition" : ['Sunny','Cloudy','Rainy', 'Sunny','Cloudy'],
                       "Wind Direction" : ['North', 'South', 'East', 'West','North']})

In [58]:
df_7

   Temparature  Humidity Weather Condition Wind Direction
0           75        60             Sunny          North
1           68        70            Cloudy          South
2           80        55             Rainy           East
3           72        75             Sunny           West
4           83        50            Cloudy          North

In [59]:
df_7.cov()

/tmp/ipykernel_1645/3917802893.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_7.cov()

             Temparature  Humidity
Temparature         36.3     -56.5
Humidity           -56.5     107.5