### 22 Mar Asssignment

Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [5]:
import pandas as pd

df1 = pd.DataFrame({"hr_study" : [2,4,6,8,10],
                    "scores" : [25,45,69,89, 92]})

df1

   hr_study  scores
0         2      25
1         4      45
2         6      69
3         8      89
4        10      92

In [6]:
df1.corr(method = "pearson")

          hr_study    scores
hr_study  1.000000  0.977491
scores    0.977491  1.000000

Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.

In [9]:
import pandas as pd

df2 = pd.DataFrame({"sleep_time" : [4,5,6,7,10,8],
                    "job_satisfaction" : [6,7,6,7,8,7]})
df2

   sleep_time  job_satisfaction
0           4                 6
1           5                 7
2           6                 6
3           7                 7
4          10                 8
5           8                 7

In [10]:
df2.corr(method="spearman")

                  sleep_time  job_satisfaction
sleep_time          1.000000          0.771517
job_satisfaction    0.771517          1.000000

Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results.

In [13]:
import numpy as np
import pandas as pd

In [17]:
hour = np.random.randint(low = 1, high=10, size=50, dtype=int)
bmi = np.random.randint(low = 15, high=35, size=50, dtype=int)

In [20]:
df3 = pd.DataFrame({"hour" : hour, 
                   "BMI" : bmi})
df3.head()

   hour  BMI
0     8   21
1     8   27
2     7   16
3     5   25
4     6   23

#Spearman Coefficient
df3.corr(method="spearman")

In [24]:
#pearson Coefficient
df3.corr(method='pearson')

          hour       BMI
hour  1.000000  0.045049
BMI   0.045049  1.000000

Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.

In [26]:
import numpy as np
import pandas as pd

In [27]:
Watch_tv_hour = np.random.randint(low = 0, high=10, size=50, dtype=int)
physical_activity_hour = np.random.randint(low = 0, high=5, size=50, dtype=int)

In [28]:
df4 = pd.DataFrame({"Watch_tv_hour" : Watch_tv_hour ,
                    "physical_activity_hour" : physical_activity_hour})
df4.head()

   Watch_tv_hour  physical_activity_hour
0              5                       0
1              1                       2
2              0                       0
3              2                       0
4              4                       0

In [29]:
df4.corr(method="pearson")

                        Watch_tv_hour  physical_activity_hour
Watch_tv_hour                1.000000                0.003903
physical_activity_hour       0.003903                1.000000

Q5. A survey was conducted to examine the relationship between age and preference for a particular
brand of soft drink. The survey results are shown below:

In [31]:
import pandas as pd

In [33]:
df5 = pd.DataFrame({"Age" : [25, 42,37, 19, 31, 28],
              "Soft Drink Preference" : ['Coke', 'Pepsi', 'Mountain Dew', 'Coke', 'Pepsi', 'Coke']})
df5.head()

   Age Soft Drink Preference
0   25                  Coke
1   42                 Pepsi
2   37          Mountain Dew
3   19                  Coke
4   31                 Pepsi

In [45]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [46]:
df5['drink_code'] = encoder.fit_transform(df5[['Soft Drink Preference']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [47]:
df5

   Age Soft Drink Preference  drink_code
0   25                  Coke           0
1   42                 Pepsi           2
2   37          Mountain Dew           1
3   19                  Coke           0
4   31                 Pepsi           2
5   28                  Coke           0

In [48]:
df5.corr()

/tmp/ipykernel_4857/2952672672.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df5.corr()

                 Age  drink_code
Age         1.000000    0.769175
drink_code  0.769175    1.000000

In [50]:
df5.cov()

/tmp/ipykernel_4857/2807582726.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df5.cov()

                  Age  drink_code
Age         68.666667    6.266667
drink_code   6.266667    0.966667

Q6. A company is interested in examining the relationship between the number of sales calls made per day
and the number of sales made per week. The company collected data on both variables from a sample of
30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [37]:
import pandas as pd
import numpy as np

In [41]:
calls_day = np.random.randint(low = 50, high = 100, size = 30, dtype = int)
Sales_week = np.random.randint (low = 0, high = 49, size = 30, dtype = int)
df6 = pd.DataFrame({"calls_day" : calls_day, "Sales_week" : Sales_week})
df6.head()

   calls_day  Sales_week
0         96          31
1         57          38
2         59          24
3         67          19
4         83           1

In [43]:
df6['sales_day'] = df6['Sales_week']/5
df6.head()

   calls_day  Sales_week  sales_day
0         96          31        6.2
1         57          38        7.6
2         59          24        4.8
3         67          19        3.8
4         83           1        0.2

In [44]:
df6.corr()

            calls_day  Sales_week  sales_day
calls_day    1.000000   -0.317556  -0.317556
Sales_week  -0.317556    1.000000   1.000000
sales_day   -0.317556    1.000000   1.000000